@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .form-outline {
        margin-top:3%;
        position: relative;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color:gray;
        display: inline-block;
    }
</style>
<div class="form-outline" style="width: 40%;margin-left:20%">
    <form action="/Home/DoAddQuiz" method="post">
        <div class="form-group">
            <label>Question:</label>
            <input type="text" name="question" class="form-control" placeholder="Enter question" value="">
        </div>
        <div class="form-group">
            <label>Lesson:</label>
            <select class="form-select" name="lessonId">
                @foreach (var i in ViewBag.Lesson)
                {
                    <option selected="@(i.Id == ViewBag.LessonId ? "selected" : null)" value="@i.Id">@i.Lesson1</option>
                }
            </select>
        </div>
        <div class="form-group">
            <h5 style="margin-left: -80%">Answer A:</h5>
            <input style="margin-left: -80%" type="radio" name="correct" value="Answer1" />
            <input type="text" class="form-control" name="answer1" />
            <br />
            <h5 style="margin-left: -80%">Answer B:</h5>
            <input style="margin-left: -80%" type="radio" name="correct" value="Answer2" />
            <input type="text" class="form-control" name="answer2" />
            <br />
            <h5 style="margin-left: -80%">Answer C:</h5>
            <input style="margin-left: -80%" type="radio" name="correct" value="Answer3" />
            <input type="text" class="form-control" name="answer3" />
            <br />
            <h5 style="margin-left: -80%">Answer D:</h5>
            <input style="margin-left: -80%" type="radio" name="correct" value="Answer4" />
            <input type="text" class="form-control" name="answer4" />
            <br />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script type="text/javascript">
    var a = document.getElementsByClassName("nr");
    for (var i = 0; i < a.length; i++) {
        if (i == 0) {
            a[i].innerHTML = "Answer A: ";
        }
        if (i == 1) {
            a[i].innerHTML = "Answer B: ";
        }
        if (i == 2) {
            a[i].innerHTML = "Answer C: ";
        }
        if (i == 3) {
            a[i].innerHTML = "Answer D: ";
        }

    }
</script>