@model List<ELearner.Models.Level>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .row-padding {
        display: inline-block;
        margin-top: 20px;
        border: 1px solid rgb(37, 150, 190);
        font-size: 20px;
        border-radius: 10px;
        width: 70%;
    }



    .column {
        float: left;
        width: 20%;
        padding: 10px;
        height: 200px;
        margin-left: 5%;
    }
</style>
<div class="container">
    <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
    </form>

    <table class="table">

        <tbody>
            @foreach (Level j in Model)
            {
                <tr>
                    <td class="nr td-actions text-center"></td>
                    <td><img src="@j.Image" width="120" height="120"></td>
                    <td>@j.Description</td>
                    <td>@j.Level1</td>
                    <td><a href="/Home/EnrollLevel/@j.Id" class="btn btn-primary">Enroll</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var a = document.getElementsByClassName("nr");
    for (var i = 0; i < a.length; i++) {
        a[i].innerHTML = (i + 1);
    }
</script>
