@model IEnumerable<ELearner.Models.SentenceStructure>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>NO</th>
                <th>Sentence</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SentenceStructure j in Model)
            {
                <tr>
                    <td class="nr td-actions text-center"></td>
                    <td>@j.Sentence</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var a = document.getElementsByClassName("nr");
    for (var i = 0; i < a.length; i++) {
        a[i].innerHTML = (i + 1);
    }
</script>