@model IEnumerable<ELearner.Models.TestLearning>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <form action="/Home/Mark" method="post">
                @foreach (TestLearning j in Model)
                {
                    <li>
                        <p class="subject">@j.Question</p>
                        <ol type="a">
                            <li>
                                @j.AnswerA
                            </li>
                        </ol>
                    </li>

                }
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>

        </div>
    </div>
</div>