@model IEnumerable<LearningApp.Models.Question>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <form action="/Home/Mark" method="post">
                <ol type="1">
                    @foreach (Question j in Model)
                    {
                        <li>
                            @j.Question1
                            <input type="hidden" name="questionId" value="@j.Id" />
                            <ol type="a">
                                @foreach (var i in j.Answers)
                                {
                                    <li>
                                        <input type="radio" name="question_@j.Id" value="@i.Id" />
                                        @i.Answer1
                                    </li>
                                }
                            </ol>
                        </li>
                    }
                </ol>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>

        </div>
    </div>
</div>